<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{394,284}</string>
                <key>spriteSourceSize</key>
                <string>{432,304}</string>
                <key>textureRect</key>
                <string>{{1,279},{394,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{400,276}</string>
                <key>spriteSourceSize</key>
                <string>{432,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{400,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{414,278}</string>
                <key>spriteSourceSize</key>
                <string>{432,304}</string>
                <key>textureRect</key>
                <string>{{403,1},{414,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{400,278}</string>
                <key>spriteSourceSize</key>
                <string>{432,304}</string>
                <key>textureRect</key>
                <string>{{819,1},{400,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{378,286}</string>
                <key>spriteSourceSize</key>
                <string>{432,304}</string>
                <key>textureRect</key>
                <string>{{397,281},{378,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{368,296}</string>
                <key>spriteSourceSize</key>
                <string>{432,304}</string>
                <key>textureRect</key>
                <string>{{777,281},{368,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{358,280}</string>
                <key>spriteSourceSize</key>
                <string>{432,304}</string>
                <key>textureRect</key>
                <string>{{1573,1},{358,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{350,278}</string>
                <key>spriteSourceSize</key>
                <string>{432,304}</string>
                <key>textureRect</key>
                <string>{{1221,1},{350,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{360,298}</string>
                <key>spriteSourceSize</key>
                <string>{432,304}</string>
                <key>textureRect</key>
                <string>{{1539,283},{360,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{390,296}</string>
                <key>spriteSourceSize</key>
                <string>{432,304}</string>
                <key>textureRect</key>
                <string>{{1147,281},{390,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{1932,582}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d27ec209b7d73548885cd7c393331ae7:26db3bd5ef2eb8d0eedccaa79ca79e0f:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
